.App {
  font-family: "Roboto";
  background-color: #12171d;
  color: #0d6efd;
}

.cover {
  justify-content: center;
  align-items: center;
}

.coverName {
  font-size: 50px;
  text-align: center;
}

.coverDescription {
  font-size: 25px;
  text-align: center;
}

.about {
  font-size: 50px;
  text-align: center;
}

.aboutDescription {
  font-size: 20px;
}

.skills {
  font-size: 50px;
  text-align: center;
}

.skillButtons {
  text-align: center;
}

.skillNames {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}

.skillIcons {
  font-size: 50px
}

.projects {
  font-size: 50px;
  text-align: center;
}

.projectCards {
  justify-content: center;
  align-items: center;
}

.projectCardsBody {
  text-align: center;
}

.contacts {
  text-align: center;
  font-size: 50px;
  justify-content: center;
}

.cardTech {
  text-align: center;
  font-size: 20px;
}


.flip {
  height: 50px;
  overflow: hidden;
}

.flip>div>div {
  color: #0d6efd;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background: #12171d;
}

.flip div:first-child div {
  background: #12171d;
}

.flip div:last-child div {
  background: #12171d;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}